<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* Added some fonts from Google Fonts *@
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MeetHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Add a Meetup", "Create", "Meetups")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script type="text/x-template" id="notifications-template">
    <ul class="notifications">
        <%
        _.each(notifications, function(notification) {
        @* A notification type of 1 means a meetup has been cancelled. *@
        if (notification.type == 1) { %>
        <li><%= notification.meetup.group.name %> has cancelled the <%= notification.meetup.title %> meetup at <%= notification.meetup.venue %> at <%= notification.meetup.dateTime %>.</li>
        <% }

        @* A notification type of 2 means a meetup has been updated. *@
        else if (notification.type == 2) {
            var changes = [],
                originalValues = [],
                newValues = [];

            @* If the original venue and meetup venue values don't match then that means 
               the venue has changed.
            *@
            if (notification.originalValue != notification.meetup.venue) {
                changes.push("venue");
                originalValues.push(notification.originalVenue);
                newValues.push(notification.meetup.venue);
            }

            if (notification.originalDateTime != notification.meetup.dateTime) {
                changes.push("date/time");
                originalValues.push(notification.originalDateTime);
                newValues.push(notification.meetup.dateTime);
            }
        %>
            <li><%= notification.meetup.group.name %> has changed the <%= changes.join(" and ") %> of the <%= notification.meetup.title %> meetup from <%= originalValues.join("/") %> to <%= newValues.join("/") %>.</li>
        <%

        }

        })
        %>
    </ul>
    </script>
    <script>
        $(document).ready(function () {
            // Use jQuery to hit our notifications api endpoint to retrieve the
            // returned JSON, which contains the count of notifications.
            $.getJSON("/api/notifications",
                function (notifications) {

                    // To prevent the user from seeing a blank popover when there are no 
                    // new notifications, we immediately exit the function when the 
                    // notification JSON array is 0.
                    if (notifications.length == 0) {
                        return;
                    }

                    // Capture the js-notifications-count class that's part of our
                    // badge in _LoginPartial.cshtml, put the notifications count
                    // there while removing the bootstrap hide class.
                    // Incorporated animate.css by using its animation classes.
                    $(".js-notifications-count")
                        .text(notifications.length)
                        .removeClass("hide")
                        .addClass("animated shake");

                    // After clicking the notification globe/badge, we want a bootstrap popover with
                    // notification info. The attributes and values come from bootstrap -> javascript -> popover.
                    $(".notifications").popover({
                        html: true,
                        title: "Notifications",
                        content: function () {
                            // All underscore.js methods start with _. like template here.
                            var compiled = _.template($("#notifications-template").html());
                            return compiled({ notifications: notifications });
                        },
                        placement: "bottom",
                        template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                    });
                }
            );
        });
    </script>
</body>
</html>
