@model MeetHub.ViewModels.MeetupsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Meetups"))
{
    <div class="form-group">
        <div id="searchMeetups" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

<ul class="meetups voffset4">
    @foreach (var meetup in Model.UpcomingMeetups)
    {
        <li>
            <div class="date">
                <div class="year">
                    @meetup.DateTime.ToString("yyyy")
                </div>
                <div class="month">
                    @meetup.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @meetup.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="title">
                    @meetup.Title
                    @if (meetup.IsCancelled)
                    {
                        <span class="label label-warning">Cancelled</span>
                    }
                </span>
                <span class="group">
                    @meetup.Group.Name

                    @if (Model.ShowActions)
                    {
                        <button data-followee-id="@meetup.GroupId" class="btn btn-link btn-sm js-toggle-following">Follow</button>
                    }
                </span>
                <span class="category">
                    @meetup.Category.Name
                    @if (Model.ShowActions && !meetup.IsCancelled)
                    {
                        <button data-meetup-id="@meetup.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Attend</button>
                    }
                </span>
            </div>
        </li>
    }
</ul>

@section scripts {
    <script>
        $(document)
            .ready(function () {
                $(".js-toggle-attendance")
                    .click(function (event) {
                        var button = $(event.target);
                        $.post("/api/attendances", { meetupId: button.attr("data-meetup-id") })
                            .done(function () {
                                button.removeClass("btn-default")
                                    .addClass("btn-danger")
                                    .text("Attending");
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });

                $(".js-toggle-following")
                    .click(function (event) {
                        var button = $(event.target);
                        $.post("/api/followings", { followeeId: button.attr("data-followee-id") })
                            .done(function () {
                                button.text("Following");
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
    </script>
}
