@model MeetHub.ViewModels.MeetupFormViewModel

@{
    ViewBag.Title = "Add a Meetup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Meetup</h2>
@using (Html.BeginForm("Create", "Meetups"))
{
    <p class="alert alert-info">* fields are <strong>required</strong></p>
    //     This one line is all it takes to prevent
    //     Cross -site Request Forgery (CSRF) attacks.
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        <span>*</span>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        <span>*</span>
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "e.g. Jan 1 2021" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        <span>*</span>
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "e.g. 18:30" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        <span>*</span>
        @*        The third argument is blank because it represents the default dropdown item of "blank".*@
        @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Category)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Venue)
        <span>*</span>
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="reset" class="btn btn-default pull-right">Clear</button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
