@model IEnumerable<MeetHub.Models.Meetup>
@{
    ViewBag.Title = "Mine";
}

<h2>My Upcoming Meetups</h2>

<ul class="meetups voffset4">
    @foreach (var meetup in Model)
    {
        <li>
            <div class="date">
                <div class="year">
                    @meetup.DateTime.ToString("yyyy")
                </div>
                <div class="month">
                    @meetup.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @meetup.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="title">@meetup.Title</span>
                <span class="venue">
                    @meetup.Venue
                </span>
                <span class="category">
                    @meetup.Category.Name
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Meetups", new {id = meetup.Id})">
                        Edit
                    </a> |
                    <a href="#" class="js-cancel-meetup" data-meetup-id="@meetup.Id">
                        Cancel
                    </a>
                </div>
            </div>
        </li>
    }
</ul>
@*The reason we place javascript in the @section scripts at the bottom of our view is so 
    that we allow jquery and bootstrap to load first. *@
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-meetup").click(function(event) {
                var cancelLink = $(event.target);
                // Always ask for confirmation before executing actions such as cancel or delete.
                if (confirm("Are you sure you want to cancel this meetup?")) {
                    // We put our jquery AJAX here. We specify our web api controller and 
                    // concatenate the meetup id take from the cancel link click event. 
                    // The method is DELETE, which was used as an [HttpDelete] tag attribute 
                    // above our Cancel action.
                    // Afterwards we get a promise, meaning we have to handle the done and failed 
                    // scenarios. 
                    $.ajax({
                        url: "/api/meetups/" + cancelLink.attr("data-meetup-id"),
                        method: "DELETE"
                    }).done(function() {
                        // If everything worked according to plan then we remove the meetup 
                        // from this view. From our cancelLink, we grab the li tag and fade it 
                        // out with an animation. Within the fadeout, we remove the meetup li
                        // from the DOM.
                        cancelLink.parents("li").fadeOut(function() {
                            $(this).remove();
                        });

                    }).fail(function() {
                        alert("Something failed!");
                    });
                }
            });
        });
    </script>
}
