@using System.Web.Optimization

@* cshtml files eventually turn into classes and then are compiled. SelectedTabClass is
    essentially a method in that class that can be used anywhere in the cshtml file. *@
@* If the selected tab name is posts, the html class attribute value is active and it will be
    highlighted. Else, the html class attribute value is null. *@
@helper SelectedTabClass(string tabName)
{
if (tabName == ViewBag.SelectedTab)
{
        @: active
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SimpleBlogMVC Admin</title>

    @Styles.Render("~/admin/styles")
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">

            <li class="@SelectedTabClass("posts")">
                @* empty new {} object parameter is needed to force the ActionLink to use the proper overload method.  *@
                @Html.ActionLink("Posts", "Index", "Posts", new { area = "admin" }, new { })
            </li>
            <li class="@SelectedTabClass("users")">
                @Html.ActionLink("Users", "Index", "Users", new { area = "admin" }, new { })
            </li>
            <li class="pull-right">
                @Html.RouteLink("Back to website", "Home")
            </li>
        </ul>
        @RenderBody()
    </div>
    @Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)
</body>
</html>
