@model IEnumerable<Foodies.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    @:Review
    <div class="review">
        <h4>
            @item.Name
        </h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.State @item.Country</p>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


